<nav class="row bg-light">
    <div class="col nav-link">
        <a routerLink="/content/home">Simple Blog App</a>
    </div>
    <div class="col nav-link text-right">
        <div ngbDropdown>
            <a ngbDropdownToggle>
                {{user.userName}}
            </a>
            <div ngbDropdownMenu class="dropdown-menu">
                <a ngbDropdownItem class="dropdown-item" (click)="logout($event)">Logout</a>
                <a ngbDropdownItem class="dropdown-item" routerLink="/content/home">Home</a>
                <a ngbDropdownItem class="dropdown-item" routerLink="/content/blogs">My Blogs</a>
            </div>
        </div>
    </div>
</nav>